<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" th:replace="base::Layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <section class="banner d-flex justify-content-center align-items-center">

        <div class="text-center">
            <h1>Smart Contact Manager</h1>
            <p>Start Collecting your contacts in very smarter war. We provide very efficient way of handling contacts   
            </p>
            <button class="btn btn-primary btn-lg bg-primary">Get Start</button>
        </div>

    </section>
</body>

</html>