<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" th:replace="base::Layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <section>
        <div class="container">

            <div class="row mt-5">
                <div class="col-md-6 offset-3">
                    <div class="card">
                        <div class="card-head text-center  text-white bg-primary py-2">
                            <h2>Login</h2>

                        </div>
                        <div th:if="${param.error}" class="alert alert-danger">
                            Invalid Credentials
                        </div>
                        <div th:if="${param.logout}" class="alert alert-success">
                            You have been logged out
                        </div>
                        <div class="card-body">

                            <form th:action="@{/process_signin}" method="post">
                                <div class="mb-3">
                                    <label for="username" class="form-label">User Name</label>
                                    <input type="text" class="form-control" id="username" aria-describedby="emailHelp"
                                        name="username">

                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                                </div>
                                <div class="containeter text-center">
                                    <button type="submit" class="btn bg-primary">Submit</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>
</body>

</html>